@import "flex";

body{
  margin:0;
  padding:0;
}
.nav_midbod{
  background: grey;
  padding: 30px;
  .logo{
    font-family: "europa",sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    span{
      color: black;
      font-size: 14px;
      padding-top: 30px;
    }
  }
  #lines{
        height: 5px;
        width: 35px;
        border-bottom: 4px solid #fff;
  }
  .sidenav {
      height: 100%;
  		width: 0;
      position: fixed;
      z-index: 5000;
      background-color: #fff;
      overflow-x: hidden;
      transition: 0.5s;
      text-align:center;
      opacity: 0.95;
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
      .o{
        a{
          list-style: none;
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 10px;
          font-family: "europa",sans-serif;
          font-weight: bold;
          margin-left: 30px;
          padding: 10px;
          color: black;
          &:hover{
            color:grey;
          }
      }
      }
  }
  .sidenav ul{
  	padding-left: 0px;
  }
  .sidenav .nav {
      color: black;
      display: block;
      text-align: center;
      margin-bottom: 20px;
    	padding: 15px;
    	letter-spacing: 2px;
      ul{
        list-style: none;
      }

  }

  .sidenav a:hover{
      text-decoration: none;
      color: #f1f1f1;
  }
  .sidenav .closebtn {
  	padding-top: 60px;
      font-size: 10px;
      margin-left: 25px;
      color: black;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
  }
}
.complete-wrapper{
  h1{
    font-size: 30px;
    font-family: "europa",sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;

    span{
      font-family: 'Proza Libre', sans-serif;
      font-weight: 900;
      text-align: center;
    }
  }
  h2{
    font-family: "europa",sans-serif;
    font-weight: lighter;
    color: black;
    text-align: center;
    font-size: 13px;

  }

  button{
    padding: 12px;
    border: 2px silver solid;
    border-radius: 20px;
    background: silver;
    margin-right: 5px;
    font-family: "europa",sans-serif;
    font-weight: lighter;
  }
}

.locker{
  padding: 50px;
  background-image:url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");

  h1{
    font-family: "europa",sans-serif;
    font-weight: lighter;
    color: grey;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
  }
  h2{
    font-family: "europa",sans-serif;
    font-weight: lighter;
    font-size: 10px;
    margin:0;
    letter-spacing: 2px;
  }
  p{
    padding: 6px 0px;
    text-align: center;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 2px;
    color: grey;
    cursor: pointer;
  }
}

.tabcontent {
    display: none;
    padding: 10px 10px;
    border: 1px solid #ccc;
    overflow: auto;
    height: 200;
    width:98%;
    font-family: "europa",sans-serif;
    font-weight: lighter;
}
.o{
  float:right;
  cursor: pointer;
}
.o:hover{
  color: red;
}

.Reviews{
  font-family: "europa",sans-serif;
  padding: 20px;
  color:white;
  background: grey;
  h1{
    font-size: 40px;
    font-weight: normal;
  }
  p{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
  }
}

.Form{
  padding: 20px;
  background: #DBD6D5;
  .bookonline{
    font-family: "europa",sans-serif;
    font-weight: normal;
  }
  .flex-unit{
    font-family: "europa",sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
  }
}

.SM{
  padding: 50px;
  h1{
  font-family: "europa",sans-serif;
  font-weight: lighter;
  font-size: 15px;
}
a{

  border-radius: 20px;
  border: 2px solid lightgrey;
  text-decoration: none;
  background: lightgrey;
  padding: 10px;
  color: black;
  font-family: "europa",sans-serif;
  font-weight: lighter;
}
}

footer{
  padding: 20px;
  background: black;
  color: white;
  font-family: "europa",sans-serif;
  font-weight: lighter;
  font-size: 10px;
}
