.flex {
  display: flex; }

.align-center {
  align-items: center; }

.flex--center {
  justify-content: center; }

.flex-1 {
  flex: 1; }

.posa {
  position: absolute; }

.posr {
  position: relative; }

.txt-center {
  text-align: center; }

.flex--start {
  justify-content: flex-start; }

.flex--end {
  justify-content: flex-end; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.strong {
  font-weight: bold; }

.light {
  font-weight: 300; }

.fit {
  object-fit: cover;
  object-position: center center; }

.columns {
  flex-direction: column; }

.rows {
  flex-direction: row; }

.flex--space-around {
  justify-content: space-around; }

.flex--space-between {
  justify-content: space-between; }

body {
  margin: 0;
  padding: 0; }

.top_head {
  background: grey;
  padding: 30px; }
  .top_head .logo {
    font-family: "europa",sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    letter-spacing: 2px; }
    .top_head .logo span {
      color: black;
      font-size: 15px; }
  .top_head #lines {
    height: 5px;
    width: 35px;
    border-bottom: 4px solid #fff; }
  .top_head .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5000;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    opacity: 0.95;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .top_head .sidenav .o a {
      list-style: none;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 10px;
      font-family: "europa",sans-serif;
      font-weight: bold;
      margin-left: 30px;
      padding: 10px;
      color: black; }
      .top_head .sidenav .o a:hover {
        color: grey; }
  .top_head .sidenav ul {
    padding-left: 0px; }
  .top_head .sidenav .nav {
    color: black;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    letter-spacing: 2px; }
    .top_head .sidenav .nav ul {
      list-style: none; }
  .top_head .sidenav a:hover {
    text-decoration: none;
    color: #f1f1f1; }
  .top_head .sidenav .closebtn {
    padding-top: 60px;
    font-size: 10px;
    margin-left: 25px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    text-align: center; }

.nav_midbod {
  background: grey;
  padding: 50px 0px; }
  .nav_midbod .complete-wrapper {
    background: grey;
    padding: 30px; }
    .nav_midbod .complete-wrapper h1 {
      font-size: 70px;
      font-family: "europa",sans-serif;
      font-weight: bold;
      color: white;
      letter-spacing: 3px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: 0px; }
      .nav_midbod .complete-wrapper h1 span {
        font-family: 'Proza Libre', sans-serif;
        font-weight: 900;
        text-align: center; }
    .nav_midbod .complete-wrapper h2 {
      font-family: "europa",sans-serif;
      font-weight: lighter;
      color: black;
      text-align: center;
      font-size: 30px; }
    .nav_midbod .complete-wrapper button {
      padding: 25px;
      border: 2px silver solid;
      border-radius: 20px;
      background: silver;
      margin-right: 10px;
      font-size: 15px;
      font-family: "europa",sans-serif;
      font-weight: lighter; }

.locker {
  padding: 50px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); }
  .locker h1 {
    font-family: "europa",sans-serif;
    font-weight: lighter;
    color: grey;
    font-size: 40px;
    font-weight: normal;
    margin: 0; }
  .locker h2 {
    font-family: "europa",sans-serif;
    font-weight: lighter;
    font-size: 10px;
    margin: 0;
    letter-spacing: 2px; }
  .locker p {
    padding: 6px 0px;
    text-align: center;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 2px;
    color: grey;
    cursor: pointer; }

.tabcontent {
  display: none;
  padding: 10px 10px;
  border: 1px solid #ccc;
  overflow: auto;
  height: 200;
  width: 98%;
  font-family: "europa",sans-serif;
  font-weight: lighter; }

.o {
  float: right;
  cursor: pointer; }

.o:hover {
  color: red; }

.Reviews {
  font-family: "europa",sans-serif;
  padding: 20px;
  color: white;
  background: grey; }
  .Reviews h1 {
    font-size: 40px;
    font-weight: normal; }
  .Reviews p {
    font-size: 20px;
    font-weight: lighter;
    text-align: center; }

.Form {
  padding: 70px;
  background: #DBD6D5; }
  .Form .bookonline {
    font-family: "europa",sans-serif;
    font-weight: normal; }
  .Form .flex-unit {
    font-size: 20px;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    margin-bottom: 20px; }
    .Form .flex-unit button {
      font-family: "europa",sans-serif;
      font-weight: lighter;
      padding: 20px;
      border-radius: 20px;
      background: white;
      border: 2px solid white;
      cursor: pointer; }

.SM {
  padding: 50px; }
  .SM h1 {
    font-family: "europa",sans-serif;
    font-weight: lighter;
    font-size: 35px; }
  .SM a {
    border-radius: 20px;
    border: 2px solid lightgrey;
    text-decoration: none;
    background: lightgrey;
    padding: 10px;
    color: black;
    font-family: "europa",sans-serif;
    font-weight: lighter; }

footer {
  padding: 30px;
  background: black;
  color: white;
  font-family: "europa",sans-serif;
  font-weight: lighter;
  font-size: 10px; }
