@import url("https://fonts.googleapis.com/css?family=Lato|Oswald|Poppins:400,700,300,600,500|Raleway:300,400|Satisfy");
.flex {
  display: flex; }

.align-center {
  align-items: center; }

.flex--center {
  justify-content: center; }

.flex-1 {
  flex: 1; }

.posa {
  position: absolute; }

.posr {
  position: relative; }

.txt-center {
  text-align: center; }

.flex--start {
  justify-content: flex-start; }

.flex--end {
  justify-content: flex-end; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.strong {
  font-weight: bold; }

.light {
  font-weight: 300; }

.fit {
  object-fit: cover;
  object-position: center center; }

.columns {
  flex-direction: column; }

.rows {
  flex-direction: row; }

.flex--space-around {
  justify-content: space-around; }

.flex--space-between {
  justify-content: space-between; }

body {
  background: #8D8D8D;
  margin: 0;
  padding: 0;
  background-image: url("images/earth.svg");
  background-repeat: no-repeat;
  background-position: top right; }

.head-wrap {
  padding: 90px;
  padding-bottom: 0px; }
  .head-wrap h1 {
    font-family: "europa",sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    display: block; }
    .head-wrap h1 span {
      color: black;
      font-size: 14px;
      padding-top: 30px; }

nav.global a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  font-family: "europa",sans-serif;
  font-weight: normal;
  margin-left: 30px;
  padding: 10px; }
  nav.global a:visited {
    color: black; }

.lightgrey {
  border: 2px;
  border-radius: 20px;
  background: #4D4D4D; }

.complete-wrapper {
  height: 440px;
  padding: 70px; }

.first {
  width: 80%; }

.first h1 {
  font-size: 70px;
  font-family: "europa",sans-serif;
  font-weight: normal;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px; }
  .first h1 span {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 900;
    text-align: center; }

.first h2 {
  font-family: "europa",sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 19px;
  padding-bottom: 20px; }

.twob {
  padding: 5px; }

.first button {
  border: 2px;
  border-radius: 25px;
  padding: 15px;
  background: black;
  letter-spacing: 1px;
  margin-right: 30px;
  font-family: "europa",sans-serif;
  font-weight: lighter; }

.ba {
  opacity: 0.35;
  color: whitesmoke; }

.lm {
  color: whitesmoke;
  opacity: 0.66; }

section.locker {
  background: white;
  padding: 10px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  -webkit-transition: height 4s;
  /* For Safari 3.1 to 6.0 */
  transition: height 4s; }
  section.locker h1 {
    font-size: 40px;
    color: #8a8a8a;
    text-align: center;
    letter-spacing: 1px;
    font-family: "europa",sans-serif;
    font-weight: normal;
    margin-bottom: 0px; }
  section.locker h2 {
    font-size: 10px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    margin-bottom: 0px; }

#firstv2 {
  width: 100%; }

.locker p {
  font-size: 11px;
  text-decoration: none;
  color: grey;
  font-family: "europa",sans-serif;
  font-weight: lighter;
  padding: 12px;
  letter-spacing: 1px;
  letter-spacing: 2px;
  padding-top: 5px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden; }
  .locker p strong {
    transition: .45s ease-in-out all; }
  .locker p strong {
    font-weight: 500; }

.locker p:hover {
  color: silver;
  border-bottom: 8px solid grey; }

.locker p.focus {
  border-bottom: 8px solid grey; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 10px;
  border: 1px solid #ccc;
  overflow: auto;
  height: 200;
  width: 98%;
  font-family: "europa",sans-serif;
  font-weight: lighter; }

.o {
  float: right; }

.o:hover {
  color: red; }

section.companies {
  background-image: linear-gradient(to right, #8D8D8D, #8D8D8D 60%, #DBD6D5 40%);
  background-repeat: no-repeat;
  height: 520px;
  padding: 90px; }
  section.companies .flex-unit {
    padding: 6px; }
  section.companies .form1 {
    width: 40%;
    padding: 40px; }
  section.companies .form2 {
    width: 60%;
    padding: 40px; }
    section.companies .form2 h1 {
      font-size: 30px;
      color: white; }
  section.companies h1 {
    font-family: "europa",sans-serif;
    font-weight: lighter; }
  section.companies .bookonline {
    font-weight: normal; }
  section.companies .flex-unit {
    padding: 15px;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    letter-spacing: 1px; }
    section.companies .flex-unit .em {
      height: 70px;
      width: 190px; }
    section.companies .flex-unit button {
      border: 2px;
      border-radius: 20px;
      background: white;
      padding: 10px;
      letter-spacing: 1px;
      color: grey; }

section.SM {
  height: 250px;
  background: white;
  font-family: "europa",sans-serif;
  font-weight: lighter; }
  section.SM h1 {
    font-family: "europa",sans-serif;
    font-weight: lighter; }
  section.SM .row-1 {
    text-decoration: none;
    padding: 90px; }
  section.SM i {
    font-size: 20px;
    color: black;
    padding: 3px; }
  section.SM .numb {
    border: solid white 2px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    font-family: "proxima-nova",sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 22px;
    margin-top: 80px;
    line-height: 2em; }
    section.SM .numb i {
      font-size: 14px;
      padding: 10px; }
  section.SM .flex-unit button {
    border: solid white 2px;
    border-radius: 30px;
    color: white;
    background: none;
    font-size: 14px;
    padding: 30px;
    margin-top: 60px;
    font-family: "proxima-nova",sans-serif;
    font-weight: 900;
    letter-spacing: 2px; }
  section.SM a {
    text-decoration: none;
    border: 2px;
    border-radius: 30px;
    padding: 12px;
    background: grey;
    color: lightgrey;
    letter-spacing: 1px; }

footer.foot {
  background: black;
  padding: 20px;
  text-decoration: none; }
  footer.foot h1 {
    font-family: "proxima-nova",sans-serif;
    font-weight: 900px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    outline: none; }
  footer.foot .col {
    margin-left: 20px; }
  footer.foot .col h1 {
    font-size: 23px; }
  footer.foot .col p {
    font-size: 9px;
    text-decoration: none;
    color: grey;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: -10px; }
  footer.foot .un {
    padding-left: 290px; }
  footer.foot .un p {
    color: grey;
    font-family: "europa",sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 10px; }
